<section id="ninjaBG"></section><!-- bg for parallax effect -->

<div class="container" style="color: whitesmoke">
    <h1 style="margin-top:70px">Here is a list of Indie Devs and their games !</h1>

    <ul>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
        <li>studio</li>
    </ul>

    <h2>Indie Studio's Editor Reviews!</h2>
    <br/>
    <h4>Gamma Studio</h4>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor explicabo, laudantium magnam nesciunt reiciendis similique tempore vitae voluptate? A, aliquid cumque exercitationem nam nemo neque nobis odit quidem totam.</span>
        <span>Amet asperiores consequuntur facere facilis id impedit ipsum laudantium neque nisi non, porro quo rem, sed. Accusantium ad debitis exercitationem iure molestias nesciunt nisi recusandae similique suscipit vero? Illum, tempore!</span>
        <span>Alias architecto atque consequatur deserunt dolore dolores eligendi error esse eum, eveniet explicabo fugit illum ipsam magni, minima minus molestias non perferendis porro provident quibusdam quos sint sit tempore ullam?</span>
    </p>
    <br/><br/>
    <h4>Epsilon Studio</h4>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor explicabo, laudantium magnam nesciunt reiciendis similique tempore vitae voluptate? A, aliquid cumque exercitationem nam nemo neque nobis odit quidem totam.</span>
        <span>Amet asperiores consequuntur facere facilis id impedit ipsum laudantium neque nisi non, porro quo rem, sed. Accusantium ad debitis exercitationem iure molestias nesciunt nisi recusandae similique suscipit vero? Illum, tempore!</span>
        <span>Alias architecto atque consequatur deserunt dolore dolores eligendi error esse eum, eveniet explicabo fugit illum ipsam magni, minima minus molestias non perferendis porro provident quibusdam quos sint sit tempore ullam?</span>
    </p>
    <br/><br/>
    <h4>Theta Studio</h4>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolor explicabo, laudantium magnam nesciunt reiciendis similique tempore vitae voluptate? A, aliquid cumque exercitationem nam nemo neque nobis odit quidem totam.</span>
        <span>Amet asperiores consequuntur facere facilis id impedit ipsum laudantium neque nisi non, porro quo rem, sed. Accusantium ad debitis exercitationem iure molestias nesciunt nisi recusandae similique suscipit vero? Illum, tempore!</span>
        <span>Alias architecto atque consequatur deserunt dolore dolores eligendi error esse eum, eveniet explicabo fugit illum ipsam magni, minima minus molestias non perferendis porro provident quibusdam quos sint sit tempore ullam?</span>
    </p>
</div>