<div class="container">
    <h1>Here is the <strong>Ninja Zone!</strong></h1>

    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque impedit numquam possimus quas tempore.
        Accusamus consequatur impedit, iure libero nulla odio, officiis perspiciatis placeat quam saepe sit vel
        veritatis?</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus in iusto non officia perspiciatis
        quibusdam quo? Eligendi esse, ex excepturi nihil non optio quaerat, quia recusandae, repellat vero voluptas.</p>

</div>